<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
  <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  <script src="{{url_for('static', filename='js/socket.io.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>
</head>
<body>
  <table id="main">
    <th>Values <button>Clear</button></th>
    {%- for d in data %}
    <tr>
      <td>{{ d['value'] }}</td>
    </tr>
    {%- endfor %}
  </table>
</body>
</html>