<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
  <style>
    table {
      border: solid 1px black;
    }
    tr:nth-child(even) {
      background-color: #D6EEEE;
    }
  </style>
</head>
<body>
  <table>
    <th>Date</th>
    <th>Temperature</th>
    {%- for d in data %}
    <tr>
      <td>{{ d['date'] }}</td>
      <td>{{ d['temperature'] }}</td>
    </tr>
    {%- endfor %}
  </table>
</body>
</html>